*{
  padding:0;
  margin: 0;
  
}
html,body{
  font-family: "Raleway";
  height: auto;
  margin:0;
  overflow-x: hidden;
}

.app__header{
  height:70px;
  width: 100%;
  background-color: #7C93DC;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
}
.btn{
  padding: 1%;
  
  background-color: #514AAB;
  border: none;
}
input[type="text"]{
  
  font-size: 20px;
  border:0;
  background-color: transparent;
  color:white;
  font-weight: lighter;
  outline: none;
  
}
.app__main{
  background-color: #9DCAF6;
  text-align: center;
  padding-top: 5%;
 
}
.app__main-2{
  width: 80%;
  margin:0 auto;
}
.pic{
  width: 10%;
}
.app__main-1-1-1{
  font-size: 20px;
  padding-bottom: 3%;
}
.app__main-1-1-1 span{
  font-weight: bold;
  font-size: 25px;
}

.para{
  display: flex;
  justify-content: center;
  margin-left: 0.5%;
}
.para p{
  padding-right: 0.7%; 
}
.para span{
  font-weight: bold;
}
.app__main-2{
  display: flex;
  justify-content: space-around;
  justify-items: center;
  padding-top: 5%;
}
.app__main-2 p{
  padding-top:10%;
  padding-bottom: 20%;
} 

@media screen and (max-width:600px) {
  .app__header{
    width: 100%;
    background-color: #7C93DC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
  }
  .btn{
    padding: 3%;
    background-color: #514AAB;
    border: none;
  }
  input[type="text"]{
    font-size: 20px;
    border:0;
    background-color: transparent;
    color:white;
    font-weight: lighter;
    outline: none;
    
  }
  .app_main-2-1{
    width: 40%;
  }
  .app__main-2{
    display: block;
    display: flex;
    flex-wrap: wrap;
  }

}

